<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EverySale</title>
    <link rel="stylesheet" href="/css/section.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/article.css" />
    <link rel="stylesheet" href="/css/sideBar.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>

      <div class="top">
        <header>
          <h1
            style="
              font-family: system-ui, -apple-system, BlinkMacSystemFont,
                'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
                'Helvetica Neue', sans-serif;
              color: red;
            "
          >
            EverySale
          </h1>
        </header>

        <hr />
        
        <nav class="navbar">
          <ul class="navbar-menu">
            <li class="navbar-item">
              <a class="category" href="#"><b>카테고리</b></a>
              <div class="submenu">
                <ul class="submenu-menu">
                  <li class="submenu-item">
                    <a class="submenu-link" href="?category1=화장품/미용"
                      >화장품/미용</a
                    >
                    <div class="subsubmenu">
                      <ul class="submenu-menu">
                        <li class="submenu-item">
                          <a
                            class="submenu-link"
                            href="?category1=화장품/미용&category2=마스크/팩"
                            >마스크/팩</a
                          >
                        </li>
                        <li class="submenu-item">
                          <a
                            class="submenu-link"
                            href="?category1=화장품/미용&category2=베이스메이크업"
                            >베이스메이크업</a
                          >
                        </li>
                        <li class="submenu-item">
                          <a
                            class="submenu-link"
                            href="?category1=화장품/미용&category2=색조메이크업"
                            >색조메이크업</a
                          >
                        </li>
                        <li class="submenu-item">
                          <a
                            class="submenu-link"
                            href="?category1=화장품/미용&category2=향수"
                            >향수</a
                          >
                        </li>
                        <li class="submenu-item">
                          <a
                            class="submenu-link"
                            href="?category1=화장품/미용&category2=클렌징"
                            >클렌징</a
                          >
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="submenu-item">
                    <a class="submenu-link" href="?category1=패션잡화"
                      >패션잡화</a
                    >
                    <div class="subsubmenu">
                      <ul class="submenu-menu">
                        <li class="submenu-item">
                          <a
                            class="submenu-link"
                            href="?category1=패션잡화&category2=남성의류"
                            >남성의류</a
                          >
                        </li>
                        <li class="submenu-item">
                          <a
                            class="submenu-link"
                            href="?category1=패션잡화&category2=여성의류"
                            >여성의류</a
                          >
                        </li>
                        <li class="submenu-item">
                          <a
                            class="submenu-link"
                            href="?category1=패션잡화&category2=신발"
                            >신발</a
                          >
                        </li>
                        <li class="submenu-item">
                          <a
                            class="submenu-link"
                            href="?category1=패션잡화&category2=지갑"
                            >지갑</a
                          >
                        </li>
                        <li class="submenu-item">
                          <a
                            class="submenu-link"
                            href="?category1=패션잡화&category2=시계"
                            >시계</a
                          >
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="submenu-item">
                    <a class="submenu-link" href="?category1=생활/건강"
                      >생활/건강</a
                    >
                    <div class="subsubmenu">
                      <ul class="submenu-menu">
                        <li class="submenu-item">
                          <a
                            class="submenu-link"
                            href="?category1=생활/건강&category2=건강관리용품"
                            >건강관리용품</a
                          >
                        </li>
                        <li class="submenu-item">
                          <a
                            class="submenu-link"
                            href="?category1=생활/건강&category2=생활용품"
                            >생활용품</a
                          >
                        </li>
                        <li class="submenu-item">
                          <a
                            class="submenu-link"
                            href="?category1=생활/건강&category2=욕실용품"
                            >욕실용품</a
                          >
                        </li>
                        <li class="submenu-item">
                          <a
                            class="submenu-link"
                            href="?category1=생활/건강&category2=주방용품"
                            >주방용품</a
                          >
                        </li>
                        <li class="submenu-item">
                          <a
                            class="submenu-link"
                            href="?category1=생활/건강&category2=청소용품"
                            >청소용품</a
                          >
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="submenu-item">
                    <a class="submenu-link" href="?category1=디지털/가전"
                      >전자제품</a
                    >
                    <div class="subsubmenu">
                      <ul class="submenu-menu">
                        <li class="submenu-item">
                          <a
                            class="submenu-link"
                            href="?category1=디지털/가전&category2=PC"
                            >데스크탑</a
                          >
                        </li>
                        <li class="submenu-item">
                          <a
                            class="submenu-link"
                            href="?category1=디지털/가전&category2=노트북"
                            >노트북</a
                          >
                        </li>
                        <li class="submenu-item">
                          <a
                            class="submenu-link"
                            href="?category1=디지털/가전&category2=모니터"
                            >모니터</a
                          >
                        </li>
                        <li class="submenu-item">
                          <a
                            class="submenu-link"
                            href="?category1=디지털/가전&category2=휴대폰"
                            >휴대폰</a
                          >
                        </li>
                        <li class="submenu-item">
                          <a
                            class="submenu-link"
                            href="?category1=디지털/가전&category2=카메라"
                            >카메라</a
                          >
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="submenu-item">
                    <a class="submenu-link" href="?category1=가구/인테리어"
                      >가구/인테리어</a
                    >
                    <div class="subsubmenu">
                      <ul class="submenu-menu">
                        <li class="submenu-item">
                          <a
                            class="submenu-link"
                            href="?category1=가구/인테리어&category2=거실가구"
                            >거실가구</a
                          >
                        </li>
                        <li class="submenu-item">
                          <a
                            class="submenu-link"
                            href="?category1=가구/인테리어&category2=수납가구"
                            >수납가구</a
                          >
                        </li>
                        <li class="submenu-item">
                          <a
                            class="submenu-link"
                            href="?category1=가구/인테리어&category2=주방가구"
                            >주방가구</a
                          >
                        </li>
                        <li class="submenu-item">
                          <a
                            class="submenu-link"
                            href="?category1=가구/인테리어&category2=침실가구"
                            >침실가구</a
                          >
                        </li>
                        <li class="submenu-item">
                          <a
                            class="submenu-link"
                            href="?category1=가구/인테리어&category2=홈데코"
                            >홈데코</a
                          >
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="#"><b>장바구니</b></a>
              <div class="barAnimation"></div>
            </li>
          </ul>
        </nav>
      </div>

      <section>
        <div class="slider">
          <div class="slides">
            <div class="slide">
              <img src="https://shopping-phinf.pstatic.net/main_4655165/46551654620.20240401140950.jpg?type=f640" alt="https://via.placeholder.com/1000x400" />
            </div>
            <div class="slide">
              <img src="https://shopping-phinf.pstatic.net/main_4655165/46551654620.20240401140950.jpg?type=f640" alt="https://via.placeholder.com/1000x400" />
            </div>
            <div class="slide">
              <img src="https://shopping-phinf.pstatic.net/main_4655165/46551654620.20240401140950.jpg?type=f640" alt="https://via.placeholder.com/1000x400" />
            </div>
            <!-- Add more images as needed -->
          </div>
          <div class="dots">
            <span class="dot" onclick="currentSlide(1)">&#8213;</span>
            <span class="dot" onclick="currentSlide(2)">&#8213;</span>
            <span class="dot" onclick="currentSlide(3)">&#8213;</span>
            <!-- Add more dots as needed -->
          </div>
          <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
          <a class="next" onclick="changeSlide(1)">&#10095;</a>
          <script>
            let slideIndex = 1;

            function changeSlide(n) {
              showSlides((slideIndex += n));
            }

            function currentSlide(n) {
              showSlides((slideIndex = n));
            }

            function showSlides(n) {
              let slides = document.querySelector('.slides');
              let slideWidth = document.querySelector('.slide').offsetWidth;
              let dots = document.querySelectorAll('.dot');

              if (n > slides.children.length) {
                slideIndex = 1;
              }
              if (n < 1) {
                slideIndex = slides.children.length;
              }

              slides.style.transform = `translateX(-${(slideIndex - 1) * slideWidth}px)`;

              dots.forEach(dot => dot.classList.remove('active'));
              dots[slideIndex - 1].classList.add('active');
            }

          </script>
        </div>
      </section>

      <article>
        <div class="selectSort">
          <li><a href="&sort="><b>기본</b></a></li>
          <li><a href="&sort=asc"><b>낮은 가격순</b></a></li>
          <li><a href="&sort=desc"><b>높은 가격순</b></a></li>
        </div>
        <div><%- html %> <%- numNav %></div>
      </article>

      <aside>
        <div class="sideBar">
          <p><b>최근본상품</b></p>
        </div>
        <script>
          let productList = []; // 최근 본 상품을 담는 배열
      
      // 상품을 추가하는 함수
      function addProduct(product) {
        // 최대 4개까지만 유지
        if (productList.length >= 4) {
          productList.shift(); // 가장 오래된 상품 제거
        }
        productList.push(product); // 새로운 상품 추가
  
        // TODO: productList 배열을 사용하여 화면에 표시하는 코드 작성
      }
  
      // 예시: addProduct 함수를 호출하여 상품 추가
      addProduct("새로운 상품1");

      
          // TODO: productList 배열을 사용하여 화면에 표시하는 코드 작성
      
        </script>
      </aside>
      
      <footer>
        <div class="footer">
          <div class="footerText">
            <b>EverySale 정보</b>
            <p>Tel : -----------</p>
            <p>메일 : ESa@everysale.co.kr</p>
            <p>정보 출처 : 네이버 쇼핑, Amazon, Ebay</p>
            <br />
            <p>
              EverySale에 표시된 상품들에 대하여 EverySale은 통신판매중개자로서
              거래 당사자가 아니며<br />상품거래 정보 및 거래에 관여하지 않고,
              어떠한 의무와 책임도 부담하지 않습니다
            </p>
          </div>
        </div>
      </footer>

      <!-- <div class="ad">
        <iframe
          class="ridAd"
          width="300"
          height="150"
          src="https://www.youtube.com/embed/_nRDC4F0Q6U"
        ></iframe>
      </div>
      <script>
        $(document).ready(function () {
          $(".ridAd").click(function () {
            $(".ad").css("display", "none");
          });
        });
      </script>-->
    </div>
  </body>
</html>
