body {
  position: relative;
}

.ad {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  z-index: 1001;
  transform: translate(-50%, -50%);
}

.adBar {
  background-color: rgb(255, 0, 0);
  
  height: 25px;
  border-radius: 10px 10px 0 0;
}

#xButton {
  float: right;
  width: 20px;
  height: auto;
  color: rgb(255, 255, 255);
}