.footer {
  background-color: rgb(250, 248, 248);
}
.footerText > b {
  font-size: 12px;
  color: rgb(27, 27, 27);
}
.footerText > p {
  color: rgb(139, 139, 139);
  font-size: 11px;
}
.footerText {
  margin: 0 auto;
  width: 935px;
}
