/* selectSort.css */
.sortContainer {
  margin: 0 auto;
  width: 1000px;
}
.selectSort ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;

  justify-content: center;
}

.selectSort li {
  margin-right: 20px;
  list-style-type: none;
  float: left;
}

.selectSort a {
  color: black;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s, border-bottom 0.3s;
  position: relative;
}

.selectSort a:hover {
  color: red;
}

.selectSort a.selected {
  color: red;
  border-bottom: 2px solid red;
}
