/* 리스트 가로 정렬 및 기본 스타일 */
.sortContainer {
  margin: 0 auto;
  width: 1000px;
}
.selectSort ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* 가로 배열 */

  justify-content: center; /* 중앙 정렬 */
}

.selectSort li {
  margin-right: 20px; /* 리스트 아이템 간격 */
  list-style-type: none;
  float: left;
}

.selectSort a {
  color: black; /* 기본 글자 색상 */
  text-decoration: none; /* 밑줄 제거 */
  padding: 10px;
  transition: color 0.3s, border-bottom 0.3s; /* 전환 효과 */
  position: relative;
}

.selectSort a:hover {
  color: red; /* 마우스 올렸을 때 글자색 변경 */
}

.selectSort a.selected {
  color: red; /* 선택된 항목 글자색 */
  border-bottom: 2px solid red; /* 선택된 항목 밑줄 */
}
