/* sideBar */
aside {
  position: relative;
}

.sideBar {
  position: fixed;
  background-color: white;

  width: 140px;
  height: 50%;

  left: 87%;
  top: 30%;

  border: 1px solid rgb(230, 230, 230);
  border-radius: 10px;
  text-align: center;
}

.sideBar p {
  margin-top: 0px;

  font-size: 15px;
  font-weight: 500;
}
